<!-- extensions/rewardspro-theme-extension/blocks/rewards-widget.liquid -->
{% if block.settings.enabled %}
  <div id="rewardspro-widget-{{ block.id }}" 
       class="rewardspro-widget rp-position-{{ block.settings.position }}"
       data-rewards-widget
       data-block-id="{{ block.id }}">
    
    <div class="rp-content">
      <!-- Content will be loaded via JavaScript -->
      <div class="rp-loading">
        <p>Loading rewards...</p>
      </div>
    </div>
  </div>

  <script>
    (function() {
      window.RewardsProContext = window.RewardsProContext || {};
      window.RewardsProContext['{{ block.id }}'] = {
        blockId: {{ block.id | json }},
        shopDomain: {{ shop.domain | json }},
        {% if customer %}
          isLoggedIn: true,
          customerId: {{ customer.id | json }},
          customerEmail: {{ customer.email | json }},
        {% else %}
          isLoggedIn: false,
        {% endif %}
        settings: {
          position: {{ block.settings.position | json }}
        }
      };
    })();
  </script>
{% endif %}

{% schema %}
{
  "name": "Rewards Widget",
  "target": "body",
  "stylesheet": "rewards-widget.css",
  "javascript": "rewards-widget.js",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Enable Widget",
      "default": true
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position",
      "options": [
        {"value": "bottom-right", "label": "Bottom Right"},
        {"value": "bottom-left", "label": "Bottom Left"},
        {"value": "top-right", "label": "Top Right"},
        {"value": "top-left", "label": "Top Left"}
      ],
      "default": "bottom-right"
    }
  ]
}
{% endschema %}